* {
    font-family: sans-serif;
    color: rgb(233, 233, 233);
}

body {
    background-color: #1d1b33;
    padding-top: 60px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items:center;
}

.text {
    background-color: #1d1b33;
    padding-top: 60px;
}

ul {
    list-style-type:decimal;
}

li {
    padding: 10px 0;
}