* {
    font-family: sans-serif;
    color: rgb(233, 233, 233);
    font-size: 16px;
}
h1 {
    color: #FBA000;
    font-size: 20px;
    text-decoration: underline;
}

body {
    background-color: #121020;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.container {
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: auto 400px auto auto;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo"
      "game"
      "howto"
      "about";
}
  
.logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0 5px 0;
}
  
.game { grid-area: game; }
  
.howto { 
    margin-top: 10px;
    grid-area: howto;
    list-style-type:decimal;
    border: 2px solid #FBA000;
    border-radius: 20px;
    padding: 10px 20px;
}

.howto li {
    padding: 8px 0;
}

.howto ul {
    list-style-type: decimal;
}

.about {
    grid-area: about;
    border: 2px solid #FBA000;
    border-radius: 20px;
    padding: 10px 20px;
}

.howto b,
.about b,
.about a {
    color: #FBA000;
}

